.custom-after{
    position: relative;
    color: #f3f2f2;
    z-index: 999;
}
.custom-after2{
    position: relative;
    margin-bottom: 30px;
}
.custom-after2::after{
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    width:90px;
    height:5px;
    margin: auto;
    background-color: black;
    bottom: -20px;
}
.custom-after:after{
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    width:90px;
    height:5px;
    margin: auto;
    background-color: white;
    bottom: -20px;
}
.section-padding1{
    padding:160px 0;
}
.section-padding{
    padding:90px 0;
}
.bg_after{
    position: relative;
    z-index: -9;
     
}
.bg_after:after{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,5,0,0.8);
     
}
.wrapper.angled.upper-end.lower-end{
    background-color: #e8e8e8;
}
p.mb-6 {
    color: #383333;
}
.margin-top{
    margin-top:50px;
}
.h2{
    margin-bottom:40px;
    position: relative;
}
.h2:after{
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    width:90px;
    height:5px;
    margin: auto;
    background-color: black;
    bottom: -20px;
}
.owl-dots button span{
    width:30px!important;
    background-color:skyblue!important;
    height:6px!important;
    opacity: 1!important;
    border-radius: 0 !important;

}
.card-body img {
    display: block;
    width: 100%;
    text-align: center;
    margin: 0 auto;
}
.card-body {
    
    text-align: center;
     
}
.card-body .nav.social{
    justify-content: center;
}
img.max{
    max-width: 210px;
    width: 100%;
    height: auto;
}
.position-relative .shape.rellax + figure{
    text-align: center;
}

@media all and (max-width:991px){
    .responsive-center{
        justify-content: center;
        text-align: center;
    }
    .responsive-center ul li{
        display:inline-block;
    }
    .card-body .d-flex{
        flex-direction: column!important;
    }
    .btn.btn-circle.btn-lg, .btn-group-lg>.btn.btn-circle{
        margin-bottom: 15px;
    }
    .d-flex.flex-row.fex-hind{
        flex-direction: column !important;
    }
    .mt-n1{
        margin-right: 0!important;
    }
    .widget{
        text-align: center;
    }
    .section-padding{
        padding: 35px 0;
    }
    .list-unstyled.text-reset{
        display: flex;
        flex-direction: column;
    }
    .rounded img{
        width: 70%;
        height: auto;
    }
}
@media all and (max-width:767px){
    .overlap-grid.overlap-grid-2.aos-init.aos-animate{
        position: relative;
    }
    .item.newsletter-wrapper{
        position: absolute;
         
        top: 30%;
        width: 72%;
    }
}
@media all and (max-width:480px){
    .section-padding1{
        padding: 90px 0;
    }
    
    .custom-after{
       font-size: 25px!important;
    }
    .custom-after2{
        font-size: 25px !important;
    }
    
}
